body {
  font-family: Courier New;
  background-color: silver;
  text-align: center;
}

.lion{
 font-family :'Courier New', Courier, monospace;
 background-color: rgb(180, 75, 75);
text-align: center;
}suck my cock and  eat my balls until they all squeaky clean;